body{
    background-image: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/17/17252.png?1200181861);
}

.div{
    width: 700px;
    border: 10px solid transparent;
    border-image: url(border1.png) 30 round;
    margin: auto;
    background-color: white;
}

/* body{
    background-color: white;
    width: 550px;
} */
h2{
    font-family: Verdana;
    float: left;
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
}

.img1{
    height: 120px;
    border-radius: 50%;
    float: right;
    margin-right: 70px;
    margin-top: 30px;
}

.p1{
    clear: left;
    font-family: Verdana;
    height: 100px;
    position: relative;
    margin-left: 30px;
}

.div1{
    border-collapse: collapse;
    border: dotted grey;
    height: 90px;
    width: 600px;
    font-family: verdana;
    margin: auto;
}

.divtext{
    text-align: justify;
    color: grey;
}

h3{
    font-family: Verdana;
    margin-left: 30px;
}

table td{
    border-bottom: outset;
    width: 200px;
}

table th{
    border-bottom: outset;
}

table tr{
    text-align: center;
}

table{
    border-collapse: collapse;
}

.pirmalent{
    margin-left: 30px;
}

.antralent{
    margin-left: 30px;
}

.sarasas{
    margin-left: 30px;
}

li{
    list-style-type: square;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: orangered;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: red;
}

.laiskelis{
    background-color: white;
    width: 700px;
    margin: auto;
    margin-top: 30px;
    border: 10px solid transparent;
    border-image: url(border1.png) 30 round;
    
}
.laiskelis h3{
    text-align: center;
}